---
import { getCollection } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Title from "../components/Title.astro";
import { DESCRIPTION, TITLE_SITE } from "../consts";
import FormattedDate from "../components/FormattedDate.astro";
import ProjectCard from "../components/ProjectCard.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);

const compareDates = (a: any, b: any) => {
  const dateA = new Date(a.data.pubDate).getTime();
  const dateB = new Date(b.data.pubDate).getTime();
  
  // Comparar os valores de tempo das datas
  return dateB - dateA;
};

posts.sort(compareDates)

---

<!DOCTYPE html>
<html lang="pt-br" class="bg-bg">
  <head>
    <BaseHead title="Ruan Victor" description={DESCRIPTION} />
  </head>
  <body
    style="margin-left: auto; margin-right: auto; width: 100%; max-width: 768px;"
  >
    <Header />
    <main style="margin-top: 16px; margin-bottom: 16px;">
      <section>
        <div style="margin-top: 25px;">
          <Title text="About Me 🐛" />
        </div>
        <p class="paragraph">
          Meu nome é <span style="font-weight:700">Ruan Victor</span> e sou desenvolvedor
          FullStack. Apaixonado pela programação e arquitetura de softwares, trabalho
          atualmente com desenvolvimento FullStack com Next Node e TypeScript. Apaixonado
          por UI Design e jogos competitivos. Estou no
          <span style="font-weight:700">
            ensino medio técnico em Desenvolvimento Web | Mobile
          </span>
        </p>
      </section>
      <section>
        <div style="margin-top: 20px; margin-bottom: 20px;">
          <Title text="Projetos" />
        </div>
        <div class="card-container">
          <ProjectCard
            titulo="Rvm Systems"
            url="https://rvm-systems.vercel.app/"
            descricao="Sistema de gerenciamento de estoque integrado com crm"
          />
          <ProjectCard
            titulo="Api de receitas"
            url="https://github.com/Ruanv123/nestjs-crud"
            descricao="Api de receitas desenvolvida com Nest.js e Prisma"
          />
          <!-- <ProjectCard
            titulo="Api de receitas"
            url="https://github.com/Ruanv123/nestjs-crud"
            descricao="Api de receitas desenvolvida com Nest.js e Prisma"
          /> -->
        </div>
      </section>
      <section>
        <div class="container-1">
          <Title text="Blog" />
          <a href="/blog" class="ver-todos">ver todos →</a>
        </div>
        <div class="container-2">
          {
            posts
            .slice(0,3)
            .reverse()
            .map((post) => (
                <article class="article-post">
                  <a href={`/blog/${post.slug}/`} class="link-post2">
                    {post.data.title}
                  </a>
                  <FormattedDate clas="#d4d4d4" date={post.data.pubDate} />
                </article>
              ))
              .reverse()
          }
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>
