---
import HLink from "./HLink.astro";
const date = new Date();
import {
  IconBrandGithub,
  IconBrandLinkedin,
  IconBrandInstagram,
  IconMail,
} from "@tabler/icons-react";
---

<footer>
  <div class="footer-div">
    <span class="footer-span">Ruan Victor</span>
    <div style="display: flex; align-items: center; gap: 1rem; color: #e5e7eb;">
      <HLink href="https://github.com/Ruanv123" target="_blank">
        <IconBrandGithub />
      </HLink>
      <HLink href="https://www.linkedin.com/in/ruanv123/" target="_blank">
        <IconBrandLinkedin />
      </HLink>
      <HLink href="mailto:ruanvictormr@gmail.com">
        <IconMail />
      </HLink>
    </div>
  </div>
  <!-- <span class="flex items-center justify-center text-white text-sm">
    &copy; {date.getFullYear()} All rights reserved.
  </span> -->
</footer>
