---
import { TITLE_SITE } from "../consts";
import HLink from "./HLink.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<header
  style="display: flex; align-items: center; justify-content: space-between;"
>
  <a href="/"><h1 class="title">Ruan Victor</h1></a>
  <div>
    <nav>
      <HLink href="/">Home</HLink>
      <HLink href="/blog">Blog</HLink>
    </nav>
    <!-- <ThemeIcon /> -->
  </div>
</header>
